.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: #34495e;
}
.expense-date {
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid #ececec;
  background-color: #2a2a2a;
  color: white;
  border-radius: 12px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.expense-item__price {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #30336b;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
}
.expenses {
  padding: 1rem;
  background-color: rgb(54, 56, 65);
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  align-items: center;
  
}
h1{
  text-align: center;
  color: orangered;
}

